@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
  }

.nav-link {
  color: white !important;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 0
}

#nav-div {
  text-align: center;
}

#nav-span {
  font-size: 1.7em;
  color: #e62b1e;
  letter-spacing: -1px;
  font-weight: bold;
  display: inline-block;
  margin-left: -4px
}

html,
body {
  height: 100%;
  background-color: #edf0f1;
}

#page-content {
  flex: 1 0 auto;
}

#delete-user-container {
  width: 63.5%;
}